#brand{
	color: black;
	margin-right: 100px;
}

li a{
 	align-content:   center;
 	/*border: .5px solid white;
 	border-radius: 10px;
*/ 	margin-right: 50px;
 	text-align: center;
 	
}
li a{
	color: black;
}
#headnav{
		background-image: url('../images/bg-3.jpg');
		background-repeat: no-repeat;
	background-size: 100%;
	z-index: -1;
	/*position: fixed;*/
}
header{
	
	/*padding: 200px;*/
	/*width: auto;*/
	width: 100vw;
	height:70vh;
	
}
#heading{
	text-align: center;
	margin-top: 100px ;
	position: relative;
}