#brand{
	margin-right: 100px;
}

li a{
 	align-content:   center;
 	/*border: .5px solid white;
 	border-radius: 10px;
*/ 	margin-right: 50px;
 	text-align: center;
 	
}
header{
	background-image: url('images/bg-3.jpg');
}
#heading{
	text-align: center;
}